.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    z-index: '1';
}

.logo {
    display: flex;
    align-items: center;
    align-content: center;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    width: 39px;
}
.icons {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    width: 20px;
    height: 'auto';
}

.textShadow {
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);
}